
<div id="expense">
  <%= render 'single_account_summary', accounts: @expense_accounts %>
  --------------------------------------------------------------------
</div>
<div id="income">
   <%= render 'single_account_summary', accounts: @income_accounts %>
   -------------------------------------------------------------------
</div>



