@import "bootstrap-sprockets";
@import "bootstrap";
@import "account_manager";

body{
	background: #a3bbef;
}

.bar_color{
	background: #d8d8d8;
}

.content{
	background: #eeeeee;
	margin-top: 20px;
}
.add_accounts, #summary, footer, .new_account, .account_results{
  padding-top: 5px;
  padding-left: 20px;
}

footer{
  margin-top: 5px;
  padding-bottom: 5px;
}

.new_account, .account_results{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#summary{
	text-align: center
}

.jumbotron{
	margin-bottom: 0;
}
